{% extends 'base.html' %}
{% block content %}
<div style="display: flex;">
<h1><img style="width: 200px;" src="{{profile.picture_url}}"><span id="blue-color">{{full_name}}</span>'s Profile</h1>


</div>
<h5>Industry: {{profile.industry}}<br>
    LinkedIn: <a href="{{profile.linkedin_url}}">{{profile.linkedin_url}}</a><br>
    Connections: {{profile.number_connections}}<br>
    Job Search Time Spent: {{time_spent}} <br>
    
</h5>
<h7>
    {% if  user.profile.id == profile.id %}
    <a style="justify-content:flex-end;" href="{% url 'profile_update' user.profile.id %}">Edit Profile</a>
    {% endif %}
</h7>



{% for job in jobs %}
<div class="card">
    <div class="card-content">
        <a href="{% url 'job_detail' job.id %}">
            <span class="card-title">{{ job.position_applied_for }}</span>
        </a>
        <p>Company Name: {{ job.company_name }}</p>
        <p>Status: {{ job.status }}</p>
    </div>

    {% if  user.profile.id == profile.id %}
    <div class="card-action">
        <p><a href="{% url 'jobs_delete' job.id %}">Delete</a> 
        <a href="{% url 'jobs_update' job.id %}">Update</a></p>
    </div>
    {% endif %}
    
</div>



{% endfor %}

{% if  user.profile.id == profile.id %}
<form action="{% url 'add_job' profile_id %}" method="POST">
    {% csrf_token %}
    {{ job_form.as_p }}
    <input type="submit" class="btn" value="Add Job">
</form>
{% endif %}



<script>
    const dateEl = document.getElementById('id_dates');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_status');
    M.FormSelect.init(selectEl);


    const selectElResume = document.getElementById('id_type_of_resume');
    M.FormSelect.init(selectElResume);
</script>

{% endblock %}