{% extends 'base.html' %}
{% block content %}

<h1>Profile List</h1>

{% for profile in profiles %}

    <div class="card">
        <div class="card-content">
            <div class="image-wrapper">
                <img src="{{ profile.picture_url }}" alt="profile picture">
            </div>
            <span class="card-title">{{ profile.full_name }}</span>
            <p>LinkedIn URL: <a href="{{ profile.linkedin_url }}">{{ profile.linkedin_url }}</a></p>
            <p>Industry: {{ profile.industry }}</p>
            <p>Number of Connections: {{ profile.number_connections }}</p>
            <form action="{% url 'detail' profile.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">More Info</button>
            </form>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}