/* 
lighter green: rgb(138, 152, 110)
darker green: rgb(81, 92, 51)
yellowish: rgb(203, 179, 140)
gray: rgb(175, 192, 205)
red: rgb(149, 53, 53) 
*/

body {
  display: flex;
  min-height: 100vh;
  flex-wrap: nowrap;
  background-color: rgb(138, 152, 110);
}
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  #blue-color {
    color: blue;
  }


#profile-index-h1 {
  /* display: block; */
  width: 100%;
  margin-top: 40px;
  /* position: fixed; */
  /* display: flex; */
}

#block-content-div {
  margin-top: 80px;
}

#profile-picture {
  width: 115px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: solid #000000 .3rem;
}

.card {
  max-width: 500px;
}

.row {
  display: flex;
  justify-content: flex-start;
  /* column-gap: 100%; */
}

.profile-page {
  display:flex;
  flex-direction: column;
}

.nav-wrapper {
  background-color: rgb(175, 192, 205);
}

#nav-bar-ul a {
  color:#000000;
}






/* LISA APRIL 12TH -------------*/

/* 
lighter green: rgb(138, 152, 110)
darker green: rgb(81, 92, 51)
yellowish: rgb(203, 179, 140)
gray: rgb(175, 192, 205)
red: rgb(149, 53, 53) 
*/


body {
  background-color: rgb(175, 192, 205);
  display: flex;
  justify-content: center;
}

.page-body {
  margin: 0 auto;
  width: 80%;
}

.farm-red {
  color: rgb(149, 53, 53);
}

.farm-red-bg {
  background-color: rgb(149, 53, 53);
}

.reemkufifun {
  font-family: Reem Kufi Fun;
}

.nunitosans {
  font-family: Nunito Sans; */
}

.small {
  font-size: 1.3rem;
}

.job-stats {
  line-height: 2.3rem;
}

.pipe {
  padding: 0 1rem;
}

.company-salary {
  font-size: 2rem;
  line-height: 3rem;
}

.event-card {
  font-family: Nunito Sans;
  margin: 2rem auto;
  /* background-color: rgb(203, 179, 140); */
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(81, 92, 51);
}

.datepicker-date-display, .datepicker-table td.is-today {
  background-color: rgb(203, 179, 140);
}

.datepicker-cancel, .datepicker-done {
  color: rgb(203, 179, 140);
}

.event-form {
  padding: 1rem 2rem;
  font-family: Nunito Sans;
}

.event-form button {
  align-self: center;
  display: flex;
}

.event-form form label, .add-event-form form p label {
  color: rgb(81, 92, 51);
  font-family: Reem Kufi Fun;
  font-size: 1rem;
}


.event-form form input, .add-event-form form p input {
  font-family: Nunito Sans;
}

.event-form form table tbody tr td textarea {
  height: 6rem;
}

.event-form form p textarea {
  height: 6rem;
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.delete-options {
  margin-top: 3rem;
}

.delete-options a {
  color:rgb(149, 53, 53);
}

.cancel {
  font-size: 1.8rem;
  margin-left: 5rem;
  border: solid rgb(149, 53, 53);
  padding: 0 .5rem 0 .5rem;
  border-radius: 5px;
}

.large-form {
  margin: 3rem auto;
  padding: 1rem;
}

.large-form input, .job-form-class input {
  font-family: Nunito Sans;
}

.large-form label, .job-form-class label {
  font-family: Reem Kufi Fun;
  font-size: 1.2rem;
  color: rgb(81, 92, 51)
}


/* .event-card-container {
  display: flex;
  justify-content: center;
} */

/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} */

/* END LISA APRIL 12TH -------------*/